<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.wilsonyiyi.alfred-chrome-tabs.dev</string>
	<key>category</key>
	<string>Productivity</string>
	<key>connections</key>
	<dict>
		<key>1B3C0780-4C03-47CF-8C08-A47D95EA26B6</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>21862161-A26D-43B3-89E9-C55E61C68E4F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>21862161-A26D-43B3-89E9-C55E61C68E4F</key>
		<array/>
		<key>5CF0B408-6BB4-4B0C-99A1-0B283EFF1CFB</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1028D1F9-AD5E-4B7E-984A-9F2978D8F101</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>1028D1F9-AD5E-4B7E-984A-9F2978D8F101</key>
		<array/>
	</dict>
	<key>createdby</key>
	<string>Wilsonyiyi</string>
	<key>description</key>
	<string>Search and manage Chrome tabs and tab groups from Alfred.</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Chrome Tabs</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>2</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>ct</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Reading Chrome tabs…</string>
				<key>script</key>
				<string>./node_modules/.bin/run-node index.js "$1"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>Search every open Google Chrome tab</string>
				<key>title</key>
				<string>Search Chrome tabs</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>1B3C0780-4C03-47CF-8C08-A47D95EA26B6</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>./node_modules/.bin/run-node src/focus-tab.js "$1"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>21862161-A26D-43B3-89E9-C55E61C68E4F</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>cg</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Reading Chrome tab groups…</string>
				<key>script</key>
				<string>./node_modules/.bin/run-node src/list-groups.js "$1"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>Search, create, and recolor Chrome tab groups</string>
				<key>title</key>
				<string>Search Chrome tab groups</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>5CF0B408-6BB4-4B0C-99A1-0B283EFF1CFB</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>./node_modules/.bin/run-node src/group-action.js "$1"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>1028D1F9-AD5E-4B7E-984A-9F2978D8F101</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>Use ct for Chrome tabs and cg for Chrome tab groups. In cg, use new to create a colored group and color to recolor an existing group.</string>
	<key>uidata</key>
	<dict>
		<key>1B3C0780-4C03-47CF-8C08-A47D95EA26B6</key>
		<dict>
			<key>xpos</key>
			<real>245</real>
			<key>ypos</key>
			<real>80</real>
		</dict>
		<key>21862161-A26D-43B3-89E9-C55E61C68E4F</key>
		<dict>
			<key>xpos</key>
			<real>520</real>
			<key>ypos</key>
			<real>80</real>
		</dict>
		<key>5CF0B408-6BB4-4B0C-99A1-0B283EFF1CFB</key>
		<dict>
			<key>xpos</key>
			<real>245</real>
			<key>ypos</key>
			<real>250</real>
		</dict>
		<key>1028D1F9-AD5E-4B7E-984A-9F2978D8F101</key>
		<dict>
			<key>xpos</key>
			<real>520</real>
			<key>ypos</key>
			<real>335</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array/>
	<key>version</key>
	<string>0.1.0</string>
	<key>webaddress</key>
	<string>https://github.com/wilsonyiyi/alfred-chrome-tabs</string>
</dict>
</plist>
